@charset "UTF-8";
#logo {
  width: 250px;
  height: 250px;
}

.img-links {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
}

.carousel-img {
  width: 100%;
  height: 100%;
}

.no-padding {
  padding: 0px !important;
}

.to-the-back {
  z-index: -10;
}

nav li {
  position: relative;
  display: block;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

nav li > ul {
  position: absolute;
  pointer-events: none;
}

nav > ul {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding-left: 2px;
}

nav > ul > li {
  pointer-events: all;
  opacity: 1;
}

ul li a {
  white-space: nowrap;
  display: block;
}

li:hover > ul {
  pointer-events: initial;
}

li:hover > ul > li, ul:hover > li {
  opacity: 1;
}

nav > ul > li li ul {
  transform: translateX(100%);
  top: 0;
  right: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-menu-item-box {
  letter-spacing: 0.0625rem;
  word-spacing: 0.1875rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: #E3B04B;
  background-color: white;
  min-width: 8rem;
  transition: background 0.5s, color 0.5s, transform 0.5s;
  margin: 0rem 0.2rem 0.2rem 0rem;
  padding: 0.8rem 0rem 0.8rem 0.8rem;
  box-sizing: border-box;
  border-radius: 0.1875rem;
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
}

.menu-item-box {
  letter-spacing: 0.0625rem;
  word-spacing: 0.1875rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: #E3B04B;
  background-color: white;
  min-width: 11.5rem;
  transition: background 0.5s, color 0.5s, transform 0.5s;
  margin: 0rem 0.2rem 0.2rem 0rem;
  padding: 0.8rem 0rem 0.8rem 0.8rem;
  box-sizing: border-box;
  border-radius: 0.1875rem;
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
}

.menu-item-box:hover {
  color: #D9B650;
}

.menu-menu-item-box:hover {
  color: #D9B650;
}

.menu-item-box:hover:before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background: #D9B650 0, 0, 0, 0.8;
  width: 100%;
  height: 100%;
}

nav > ul > li > a + ul:after {
  content: "";
  position: absolute;
  border: 0.625rem solid transparent;
  border-top: 0.625rem solid white;
  left: 0.75rem;
  top: -2.5rem;
}

nav li > ul > li > a + ul:after {
  content: "";
  position: absolute;
  border: 0.625rem solid transparent;
  border-left: 0.625rem solid white;
  top: 1.25rem;
  left: -11.25rem;
  transition: opacity 0.6, transform 0s;
}

nav > ul > li > ul > li {
  transition: transform 0.6s, opacity 0.6s;
  transform: translateY(150%);
  opacity: 0;
}

nav > ul > li:hover > ul > li, nav > ul > li.hover > ul > li {
  transform: translateY(0%);
  opacity: 1;
}

li > ul > li > ul > li {
  transition: transform 0.6s, opacity 0.6s;
  transform: translateX(120.1875rem­­) translateY(0%);
  opacity: 0;
}

li > ul > li:hover > ul > li,
li > ul > li:hover > ul > li {
  transform: translateX(0%) translateY(0%);
  opacity: 1;
}

@font-face {
  font-family: font-type;
  src: url(bigjohnpro-light.ttf);
}
.font-type {
  font-family: font-type;
}

.cuidados-container {
  font-size: 18px;
  letter-spacing: 0.0625rem;
  font-weight: 300;
  text-decoration: none;
  color: #E3B04B;
}

.fondo-link {
  background-color: #3E3636;
}

.img-link-grid-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.links-titulos {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.img-link-grid-item:hover .img-links {
  opacity: 0.2;
}

.link-title-format {
  letter-spacing: 0.0625rem;
  word-spacing: 0.1875rem;
  font-weight: 300;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-size: 28px;
  margin-right: 40px;
}

.img-link-grid-item:hover .links-titulos {
  opacity: 1;
}

html {
  overflow-x: hidden;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  overflow-x: hidden;
}

.footer {
  width: 100%;
  height: 100px;
}

.footer-font {
  font-size: 16px;
  letter-spacing: 0.0625rem;
  font-weight: 300;
  text-decoration: none;
  color: #E3B04B;
}

.detail {
  font-size: 12px;
  letter-spacing: 0.0625rem;
  font-weight: 300;
  text-decoration: none;
  color: #E3B04B;
}

#icon {
  width: 45px;
  height: 45px;
}

.menu-button {
  display: flex;
  /* Display flex to center the menu icon in the button */
  justify-content: center;
  /* Align horizontally */
  align-items: center;
  /* Align vertically */
  width: 4rem;
  /* Button width */
  height: 4rem;
  /* Button height */
  border-radius: 50%;
  /* Make the button a circle */
  background-color: rgba(255, 255, 255, 0.4);
  /* Make the background white and semi-transparent */
  cursor: pointer;
  transition: background-color 500ms ease-in-out;
  /* Add transition for the background-color */
}

.menu-button:hover,
.menu-button:focus,
.menu-button:active {
  background-color: rgba(0, 0, 0, 0.8);
  /* On hover, transition the background-color and transparency */
}

#cart-logo {
  position: relative;
  /* Give the menu-icon position relative so we can absolutely position children */
  width: 2rem;
  /* Icon width */
  height: 1.5rem;
  /* Icon height */
}

.menu-icon {
  position: relative;
  /* Give the menu-icon position relative so we can absolutely position children */
  width: 2rem;
  /* Icon width */
  height: 1.5rem;
  /* Icon height */
}

.menu-icon span {
  position: absolute;
  /* Absolutely position all children of the menu-icon */
  height: 0.125rem;
  /* Height of each line in our menu button */
  width: 100%;
  /* With of each line */
  background-color: #332F21;
  /* Background colour of each line */
  transition: background-color 500ms ease-in-out;
  /* Transition added for the background colour */
}

.menu-icon span:nth-child(1) {
  top: 0.0625rem;
  /* Position the first line roughly 1px from the top */
}

.menu-icon span:nth-child(2) {
  top: 0.625rem;
  /* Position the second line roughly 10px from the top, one on top of the other */
}

.menu-icon span:nth-child(3) {
  top: 1.25rem;
  /* Position the fourth line roughly 20px from the top */
}

.menu-button:hover span,
.menu-button:focus span,
.menu-button:active span {
  background: white;
  /* On hover, make the background-color of the menu icon white */
}

/* Turn the Menu icon into a close icon  */
.menu-icon.is-active span:nth-child(1) {
  opacity: 0;
  /* Hide the first line */
}

.menu-icon.is-active span:nth-child(2) {
  transform: rotate(45deg);
  /* Rotate the second line 45 degrees */
}

.menu-icon.is-active span:nth-child(3) {
  top: 0.625rem;
  /* Position the third line over the second line */
  transform: rotate(-45deg);
  /* Rotate the third line -45 degrees */
}

/* Fullscreen Menu */
.fullscreen-menu-container {
  position: fixed;
  /* Fix the menu to the viewport */
  top: 12.5rem;
  /* Add the top value to allow the element to animate up over */
  left: 0;
  /* Position to the left of the viewport */
  z-index: 5;
  /* Add z-index to make sure the element is always above everything else */
  width: 100vw;
  /* Cover the whole width of the viewport */
  height: 100vh;
  /* Cover the whole height of the viewport */
  overflow: scroll;
  /* Allow scrolling when the content is larger than the viewport */
  background-color: rgba(255, 255, 255, 0.95);
  /* Semi-transparent white background for the menu-overlay */
  opacity: 0;
  /* Apply 0 transparency to hide the overlay on load */
  pointer-events: none;
  /* Stop the elements in the menu-container from being clicked */
  transition: top 500ms ease-in, opacity 300ms ease-in;
  /* Transition the top and opacity */
}

.fullscreen-menu-container.is-open {
  opacity: 1;
  /* Transition opacity from 0 to 1 */
  top: 0;
  /* Transition to the top of the viewport */
  pointer-events: auto;
  /* Re-add pointer events to elements can be clicked again */
}

.fullscreen-menu-container .menu-button {
  position: absolute;
  /* Position the button absolutely to the image-cotainer */
  top: 1.5rem;
  /* Position button from the top */
  right: 1.5rem;
  /* Position button from the left */
}

.fullscreen-menu {
  text-align: center;
  /* Apply text-align center to all children */
  max-width: 62rem;
  /* Maximum width of the content */
  padding: 6rem 2rem 4rem;
  /* Add padding to the content, large at the top to allow for the close button */
  width: 100%;
  /* Where it can, stretch to the max-width otherwise, the full viewport */
}

.fullscreen-menu__image-container {
  width: 17rem;
  /* Make square */
  height: 17rem;
  /* Make square */
  background-image: url("https://i.ibb.co/93qp1PM/logo-Olhos.png");
  /* Apply the image as the background */
  background-size: cover;
  /* Force the background image to cover the container */
  background-position: center center;
  /* Position the image in the middle */
  margin: 0 auto 1.5rem;
}

.fullscreen-menu__title {
  max-width: 30rem;
  /* Apply a different max-width to the title to achieve a more optimal reading lenght */
  margin: 0 auto;
  /* Position in the horizontal center and remove top and bottom margins */
  color: #E3B04B;
}

.fullscreen-menu [class^=social-button] {
  margin: 0 0.5rem;
  /* Add a larger margin between the social buttons in the menu overlay */
  height: 3.75rem;
  /* Increase the size of the social buttons */
  width: 3.75rem;
  /* Increase the size of the social buttons */
  font-size: 1.5rem;
  /* Increase the size of the social icon inside the button */
}

tr {
  color: #E3B04B;
}

table {
  border-collapse: separate !important;
}

#btn-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

#btn-iniciar-compra {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding-left: 2px;
  letter-spacing: 0.0625rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: #E3B04B;
  background-color: white;
  margin: 0rem 0.2rem 0.2rem 0rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-sizing: border-box;
  border-radius: 0.1875rem;
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  border: 0.625rem solid transparent;
  border-top: 0.625rem solid white;
}

#btn-iniciar-compra:hover {
  color: #D9B650;
}

@media only screen and (min-width: 46rem) {
  /* When the viewport is large enough */
  .fullscreen-menu-container {
    display: flex;
    /* Add display flex to the container */
    justify-content: center;
    /* Align menu contents to the center horizontally */
    align-items: center;
    /* Align menu contents to the center vertically */
  }

  .fullscreen-menu {
    padding: 0;
  }
}
.formato-texto {
  font-size: 18px;
  letter-spacing: 0.0625rem;
  font-weight: 300;
  text-decoration: none;
  color: #E3B04B;
}

.formato-titulo {
  display: block;
  font-size: 25px;
  letter-spacing: 0.0625rem;
  font-weight: 300;
  text-decoration: none;
  color: #E3B04B;
}

#btn-contacto, .btn-comprar {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding-left: 2px;
  letter-spacing: 0.0625rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: #E3B04B;
  background-color: white;
  margin: 0rem 0.2rem 0.2rem 0rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-sizing: border-box;
  border-radius: 0.1875rem;
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  border: 0.625rem solid transparent;
  border-top: 0.625rem solid white;
}

.enviar-title {
  font-size: 25px;
  letter-spacing: 0.0625rem;
  font-weight: 300;
  text-decoration: none;
  color: #E3B04B;
  margin: 2px;
}

.form-label {
  font-size: 18px;
  letter-spacing: 0.0625rem;
  font-weight: 300;
  text-decoration: none;
  color: #E3B04B;
  margin: 1px;
}

input, textarea {
  border-color: #E3B04B !important;
}

#btnAgregarDestinatario {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding-left: 2px;
  letter-spacing: 0.0625rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: #E3B04B;
  background-color: white;
  margin: 0rem 0.2rem 0.2rem 0rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-sizing: border-box;
  border-radius: 0.1875rem;
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  border: 0.625rem solid transparent;
  border-top: 0.625rem solid white;
}

/*# sourceMappingURL=style.css.map */
