@import '../SCSS/COMPONENTS/images';
@import '../SCSS/COMPONENTS/menu';
@import '../SCSS/COMPONENTS/font';
@import '../SCSS/COMPONENTS/imglinks';
@import '../SCSS/COMPONENTS/html';
@import '../SCSS/COMPONENTS/footer';
