.formato-texto {
    font-size: 18px;
    letter-spacing: 0.0625rem;
    font-weight: 300;
    text-decoration: none;
    color: #E3B04B;
}

.formato-titulo {
    display: block;
    font-size: 25px;
    letter-spacing: 0.0625rem;
    font-weight: 300;
    text-decoration: none;
    color: #E3B04B;
}

#btn-contacto, .btn-comprar {
	display:flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-left: 2px;
    letter-spacing: 0.0625rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    color: #E3B04B;
    background-color: white;
    margin:0rem 0.2rem 0.2rem 0rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    box-sizing:border-box;
    border-radius:0.1875rem;
    box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
    border: 0.625rem solid transparent;
    border-top: 0.625rem solid white;
}