@font-face {
    font-family: font-type;
    src: url(bigjohnpro-light.ttf);
}

.font-type{
    font-family: font-type;
}

.cuidados-container {
    font-size: 18px;
    letter-spacing: 0.0625rem;
    font-weight: 300;
    text-decoration: none;
    color: #E3B04B;
}

