.fondo-link {
    background-color: #3E3636;
}
.img-link-grid-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.links-titulos{
    position: absolute;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
.img-link-grid-item:hover .img-links{
    opacity: 0.2;
}
.link-title-format{
    letter-spacing: 0.0625rem;
    word-spacing: 0.1875rem;
    font-weight: 300;
    //text-transform: uppercase;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size: 28px;
    margin-right: 40px;
}
.img-link-grid-item:hover .links-titulos{
    opacity: 1;
}