.select-material {
    width: 200px;
    margin: 15px;
    padding: 8px;
    letter-spacing: 0.0625rem;
    font-weight: 300;
    text-decoration: none;
    color: #E3B04B;
}

.select-format {
    width: 200px;
    margin: 15px;
    padding: 8px;
    letter-spacing: 0.0625rem;
    font-weight: 300;
    text-decoration: none;
    color: #E3B04B;
}